*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

img {
    max-width: 100%; 
    max-height: 100vh; 
    object-fit: contain; 
    transform: scale(1.5); 
    transition: transform 0.3s ease;
}

.map-container area{
    border: solid 1px black;
    transform: scale(1);
}

.map-container a:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
} 
